<%- include('partials/header1'); -%>
<div class="mid">
  <h1>Contact</h1>

  <p>
    <%= ContactContent %>
    </p>
  </div>

  <hr />
  <div class="contactmail">

  <h4> Drop a Mail</h4>
  <h5> If not some work , just stop by and say hello! </h5>
  <a class="mail" href="mailto:gunjanmnit16@outlook.com"><img src="/images/mail.svg" alt="mail-logo" width="60px" height="60px"></a>

  </div>
  <div class ="contactfooter">


  <a class="logos" href="https://www.facebook.com/gunjan.shekhawat.986"><img src ="/images/fblogo.png"  width="40px" height="40px"/></a>
  <a class="logos" href="https://www.linkedin.com/in/koko--/"><img src="/images/lin-logo.png" alt="linkedin-logo"  width="40px" height="40px" />  </a>
  <a class="logos" href="https://twitter.com/Gunjan19634929"><img src="/images/twit-logo.png" alt="twit-logo"  width="40px" height="40px" /></a>
  <a class="logos" href="https://gunjan-shekhawat.github.io/"><img src="/images/websitelogo.png" alt="website-logo"  width="40px" height="40px" /></a>

  <h6><br /><br /><br />&copy Copyright <%=new Date().getFullYear()%><br /><hr /></h6>
  </div>
<%- include('partials/footer'); -%>
