<%- include('partials/header'); -%>


<!-- <h1>Home</h1>

<p>
  <%= StartingContent %>
  </p> -->

 <%# for(var i=0;i<posts.length; i++){%>
<%#  console.log(posts[i].title);%>
<%# }%>
<div class="bgggg">
<span class="text1"> WELCOME TO </span>
<br />
<span class="text2">BEEBASH</span>
<p class="sidetext">
  Let's Create
<br />
  Let's Inspire
  <br />
  Let's Start
</p>
  </div>
<%- include('partials/footer'); -%>
